//productName
@mixin product-name {
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #1F4045;
}

.App {
  .product-grid {

    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr); // Tạo 4 cột
    gap: 20px; // Khoảng cách giữa các sản phẩm

    a,
    a:visited,
    a:hover,
    a:active {
      /* Sử dụng màu sắc của phần tử cha */
      color: inherit;
      /* Loại bỏ gạch chân */
      text-decoration: none;
    }
  }

  .product-item {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    &:hover {
      color: #6a939a;
    }

    @include product-name;

  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    button {
      margin-right: 5px;
    }
  }

}