.product-container {
  max-width: 1440px;
  padding-left: 16px;
  padding-right: 16px;

  .title {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1;
  }

  .product-layout {
    width: 100%;
    height: 100%;
    display: flex;
    padding-bottom: 5rem;
    gap: 2.5rem;

    /* ================= Sidebar here =================== */

    .sidebar {
      width: 25%;
      height: 100%;

      .filter-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        /* ================= FilterByCategory here =================== */

        .category-list-container {
          .category-list {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            font-size: 1rem;
            line-height: 1.5rem;
            color: #767676;

            .category-item {
              padding-bottom: 0.5rem;
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 0.5rem;
              border-bottom: 1px solid #f0f0f0;
              transition-duration: 0.3s;
              cursor: pointer;

              &:hover {
                color: #262626;
                border-color: rgb(156 163 175);
              }
            }
          }
        }
        /* ================= FilterByCategory end =================== */
      }
    }

    .content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 2.5rem;

      /* ================= Css for ProductBanner.js here =================== */

      .controls-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        /* ================= Left Part here =================== */

        .sort-options {
          .nav-tabs {
            border-bottom: none; // Xóa border dưới cùng của thanh tabs
          }

          .nav-link {
            border: none; // Xóa border của tab
            padding: 0.5rem 1rem;
            margin-bottom: -1px;
            color: #767676; // Màu chữ mặc định
            background-color: transparent; // Nền trong suốt để chỉ có underline
            text-decoration: none; // Bỏ gạch chân mặc định
            font-weight: 500; // Thay đổi độ dày chữ

            position: relative; // Để có thể sử dụng pseudo-elements

            &:hover {
              color: #262626; // Màu chữ khi hover
            }

            &::after {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 2px;
              background-color: #262626; // Màu underline khi hover
              transform: scaleX(0); // Ẩn underline
              transition: transform 0.3s ease, background-color 0.3s ease; // Hiệu ứng chuyển tiếp
            }

            &.active {
              color: #262626; // Màu chữ khi tab đang được chọn
            }

            &.active::after {
              transform: scaleX(1); // Hiện underline khi tab đang được chọn
              background-color: #262626; // Màu underline khi tab đang được chọn
            }
          }
        }
        /* ================= Left Part end =================== */
        /* ================= Right Part here =================== */

        .pagination-select-container {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          color: #767676;
          position: relative;

          .pagination-label {
            display: block;
          }

          .pagination-select {
            width: 5rem;
            border: 1px solid rgb(229 231 235);
            padding: 0.25rem 1rem;
            cursor: pointer;
            color: #262626;
            font-size: 1rem;
            line-height: 1.5rem;
            display: block;
            appearance: none;
            padding-right: 2.5rem;

            &:focus-within {
              outline: none;
            }
            &:focus-visible {
              border-color: #262626;
            }
          }

          .pagination-dropdown-icon {
            position: absolute;
            font-size: 0.875rem;
            line-height: 1.25rem;
            right: 0.75rem;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
          }
        }
        /* ================= Right Part end =================== */
      }
      /* ================= Css for ProductBanner.js end =================== */

      /* ================= list-product here =================== */
      .list-product {
        /* ================= Css for ProductList.js here =================== */
        .product-cards {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 2.5rem;

          .card-container {
            width: 100%;

            .card {
              width: 100%;
              position: relative;

              .img-items {
                max-width: 20rem;
                max-height: 20rem;
                position: relative;
                overflow: hidden;

                .card-img {
                  width: 100%;
                  object-fit: cover;
                  height: 15rem;
                }

                .card-action {
                  width: 100%;
                  height: 5rem;
                  position: absolute;
                  bottom: -130px;
                  background-color: white;
                  transition-duration: 0.7s;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  padding: 0 0.5rem;
                  border-left: 1px solid;
                  border-right: 1px solid;

                  .card-list {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: center;
                    gap: 0.5rem;

                    .list-item {
                      color: #767676;
                      font-size: 0.875rem;
                      font-weight: normal;
                      border-bottom: 1px solid gray;
                      display: flex;
                      align-items: center;
                      justify-content: flex-end;
                      gap: 0.5rem;
                      padding-bottom: 0.25rem;
                      transition-duration: 0.3s;
                      width: 100%;
                      cursor: pointer;

                      &:hover {
                        color: #262626;
                        border-bottom: 1px solid #262626;
                      }
                    }
                  }
                }
              }

              &:hover .img-items .card-action {
                bottom: 0;
              }

              .card-details {
                max-width: 20rem;
                padding: 1.5rem 1rem;
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
                border: 1px solid;
                border-top: 0;
                height: 6rem;

                .card-details-header {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  flex-grow: 1;

                  .title {
                    font-size: 1.125rem;
                    line-height: 1.75rem;
                    font-weight: bold;
                  }

                  .price {
                    font-size: 14px;
                    color: #767676;
                    align-self: flex-end;
                  }
                }
              }
            }
          }
        }
        /* ================= Css for ProductList.js end =================== */
      }
    }
  }
}
